body {
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: gray;
    font-size: 16px;
}

.intro {
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 150%;
}

.name {
    color: black;
    font-size: 250%;
}

.construction {
	height: auto;
	width: 800px;
}
